.container-details{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.datos{
    display: flex;
    align-self: center;
}

.card-title{
    display: flex;
    justify-self: center;
}

.botones{
    display: flex;
    justify-content: space-between;
}